body {
    background-color: #25202F; /*#25202F*/
}

.nav-bar a:nth-child(1), .dropdown-toggle, .burger-menu p, .text-container p:nth-child(2), .text-container p:nth-child(3), .portfolio-main-text-box > p:nth-child(3),
.portfolio-explore > p, .clients-text > p:nth-child(3), .testimonials-text> p:nth-child(3), .main-text-content p,
.address-text > p:nth-child(3), .footer-text > p:nth-child(3), .footer-link p{
    color: #FFFFFF;
}

.line-burger-icon, .burger-menu > div{
    background-color:#FFFFFF;
}

.dropdown-menu, .burger-menu{
    background: linear-gradient(
        to bottom,
        rgb(0, 0, 0) 0%,
        hsla(0, 0%, 0%, 0.75) 100%
    );
}

.rectangle-menu{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.text-field__input{
    background: #25202F;
}

.text-field__input:focus{
    border-color: #FFFFFF;
}